# deps
node_modules

# generated content
.contentlayer
.content-collections
.source

# test & build
/coverage
/.next/
/out/
/build
/examples/**/build/
/public/docs/examples
*.tsbuildinfo

# lock files in individual demos (demos should install fresh in sandboxes)
examples/*/pnpm-lock.yaml
examples/*/package-lock.json
examples/*/yarn.lock

examples/*/dist

# misc
.DS_Store
*.pem
/.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# others
.env*.local
.vercel
next-env.d.ts
.pnpm-store